.nav-button,
.btn-edit,
.btn-delete,
.btn-confirm,
.btn-add {
    color: #fff;
    border-radius: 40px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
        border: 2px solid black;
        border-color: black;
    }
}

body{
    margin: 0;
    padding: 0;
}

.btn-edit {
    background-color: #0d6efd;
    width: 40px;
    height: 40px;
}

.btn-delete {
    background-color: #dc3545;
    width: 40px;
    height: 40px;
}

.btn-add {
    background-color: #800080;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-confirm {
    background-color: #009879;
    border-radius: 40px;
    margin-left: 5px;
}

.styled-table,
table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    margin: 10px auto;
}

.styled-table thead tr,
table thead tr {
    background-color: #800080;
    color: #ffffff;
    text-align: left;

    &:hover {
        background-color: #333;
        transition: background-color 0.3s ease;
    }
}

.styled-table th,
.styled-table td,
table th,
table td {
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 1px solid black;
}

.styled-table tbody tr,
table tr {
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
        background-color: #eaeaea;
    }

    &:hover {
        background-color: #CBC3E3;
        transition: background-color 0.3s ease;
    }
}

.styled-table thead tr:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.error-message {
    color: red;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 0 0.5px black;
    padding: 10px;
}

input {
    width: 500px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    caret-color: #800080;

    &:focus {
        outline: none;
        border-color: purple;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
        font-style: italic;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}

select {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    background-color: #f9f9f9;

    & option {
        font-size: 18px;
        color: black;
        background-color: #f9f9f9;
    }

    &:focus {
        outline: none;
        border-color: #800080;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

label {
    display: block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 8px;
    color: #333;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;

    & label {
        margin-bottom: 10px;
    }
}

nav {
    display: flex;
    align-items: center;
    background-color: #800080;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    height: 75px;
    margin: auto;

    .nav-button {
        text-align: center;
        color: black;
        background-color: white;
        padding: 20px;
        height: 40px;
        align-items: center;
        flex-grow: 1;
        border: 2px solid black;


        &:hover {
            background-color: CBC3E3;
            transition: background-color 0.3s ease;
        }
    }

}

::selection {
    background: #800080;
    color: white;
}